.tags--container {
  border: 2px dashed black;
  border-radius: 10px;
}

.tag--container {
  display: flex;
}

.tag--item {
  padding: 0.5rem;
}

.buttons--container {
  display: flex;
}

.button--container {
  margin-right: 2rem;
}
