.categories--container {
  border: 2px dashed black;
  border-radius: 10px;
}

.category--container {
  display: flex;
}

.category--item {
  padding: 0.5rem;
}

.delete-icon:hover {
  color: red;
  cursor: pointer;
}

.edit-icon:hover {
  color: lightskyblue;
  cursor: pointer;
}
